body { 
  padding-top: 50px; 
}

@media (max-width: 768px) {
  body{
    padding-top: 225px;
  }
}

* {
  text-align: center;
}

.container-fluid {
  margin-top: 10px;
  text-align: center;
}

.talent-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-container{
  display:block;
  float:right;
  margin-bottom:10px;


}

.list-group {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.tab-content div ul{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.list-group-item {
  width: 200px;
  margin: 10px;
  border-radius: 4px;
}

.talents-page-container{
  width: 880px;
  margin: auto;
}

.new-talent-container{
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.new-talent-form input{
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
}

#submit-new-talent{
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
  text-align: center;
}

.delete-talent-container{
  padding: 0 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.delete-talent-form input{
  padding: 5px;
  margin-bottom: 50px;
  width: 200px;
  height: 30px;
}

#submit-delete-talent{
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
  padding: 5px;
  margin-bottom: 5px;
  width: 200px;
  height: 30px;
  text-align: center;
}





