.container-fluid{
  margin-top: 50px;
}

.expenditure-container{
  width: 700px;
  margin: 0 auto;
}

.list-group-item{
  height: 60px;
  margin-bottom: 15px;
  border-radius: 4px;
  display: flex;
}
